[submodule "pluginterfaces"]
	path = pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces.git
[submodule "base"]
	path = base
	url = https://github.com/steinbergmedia/vst3_base.git
[submodule "public.sdk"]
	path = public.sdk
	url = https://github.com/steinbergmedia/vst3_public_sdk.git
